.keypad {
  display: grid;
  list-style: none;
  padding: 0;

  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  width: 60%;          /* Set width to 60% */
  margin: 0 auto;
 
}
.keypad li {
  display: flex;
  justify-content: center;
}

.input {
  font-size: 24px;
  border-color: transparent;
  width: 30%;
  text-align: center;
  margin: 2em 0;
  border-color: darkcyan;
}
.input::placeholder {
  color: #999;
  font-style:normal;
  font-size: 18px;
  text-align: center;

}
